/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/pub/media/styles.css
/pub/media/.htaccess
/pub/media/attribute/*
/pub/media/attribute/.htaccess
/pub/media/customer_address/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
/pub/media/catalog/.htaccess
/pub/media/customer/*
/pub/media/customer/.htaccess
/pub/media/downloadable/*
/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
/pub/media/import/.htaccess
/pub/media/custom_options/*
/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/media/sitemap/*
/pub/media/sitemap/.htaccess
/pub/static/*
/pub/static/.htaccess

/var/*
/var/.htaccess
/vendor/*
/vendor/.htaccess
/generated/*
/generated/.htaccess
.DS_Store

#Ignore base magento2
/dev
/app/etc/*
/app/autoload.php
/app/bootstrap.php
/app/.htaccess
/pub/.htaccess
/lib
/docker
/setup
/phpserver
/pub/media/mageplaza/search/default_0.js
/pub/opt/magento/var/resource_config.json
/pub/errors/.htaccess
/pub/errors/default/css/styles.css
/pub/errors/default/images/i_msg-*.gif
/pub/errors/default/images/logo.gif
/pub/errors/default/images/favicon.ico
/pub/errors/default/404.phtml
/pub/errors/default/503.phtml
/pub/errors/default/nocache.phtml
/pub/errors/default/page.phtml
/pub/errors/default/report.phtml
/pub/errors/404.php
/pub/errors/503.php
/pub/errors/design.xml
/pub/errors/local.xml.sample
/pub/errors/noCache.php
/pub/errors/processor.php
/pub/errors/processorFactory.php
/pub/errors/report.php
/pub/.user.ini
/pub/cron.php
/pub/get.php
/pub/health_check.php
/pub/index.php
/pub/static.php
/bin/*
/.htaccess.sample
/.php_cs.dist
/.user.ini
/.editorconfig
/composer.json
/composer.lock
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
/package.json.sample
/grunt-config.json.sample
/Gruntfile.js.sample
/COPYING.txt
/auth.json.sample
/.htaccess
*.md
