<?xml version="1.0" ?>
<!--
/**
 * Webkul Software
 *
 * @category  Webkul
 * @package   Webkul_MpIndonesianShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
		<preference for="Webkul\MpIndonesianShipping\Api\CityRepositoryInterface" type="Webkul\MpIndonesianShipping\Model\CityRepository"/>
		<preference for="Webkul\MpIndonesianShipping\Api\Data\CityInterface" type="Webkul\MpIndonesianShipping\Model\City"/>
		<preference for="Webkul\MpIndonesianShipping\Api\Data\CitySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
		<preference for="Webkul\MpIndonesianShipping\Api\CountryRepositoryInterface" type="Webkul\MpIndonesianShipping\Model\CountryRepository"/>
		<preference for="Webkul\MpIndonesianShipping\Api\Data\CountryInterface" type="Webkul\MpIndonesianShipping\Model\Country"/>
		<preference for="Webkul\MpIndonesianShipping\Api\Data\CountrySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
